*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body{
    width: 100%;
    background: linear-gradient(180deg, rgb(28, 81, 124), rgb(153, 0, 255));
}


/* header */

.__header{
    min-height: 55px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background: white;
}
.header__nav{
    display: flex;
    
}
.nav__list{
  display: flex;
  align-items: stretch;
  flex: 1;
  flex-direction: row-reverse;
}
.list__item{
    list-style: none;
    padding: 10px;
    cursor: pointer;
    line-height: 50px;
    padding: 2px 40px;
}
.list__item:hover{
    background-color: cornflowerblue;
    color: #fff;

}

/* main */
.__main{
    margin: 200px 20px 150px;

}

.main_title{
    color: white;
    font-size: 65px;
    font-weight: 1000;
    margin: 150px 0;
}
